/* Hero section */
.hero-section {
    text-align: center;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-mov {
    display: none;
}

.hero-mobile {
    display: none;
}

.hero-section h1 {
    padding: 25vh 0 14vh;
    max-width: 55vw;
    text-align: center;
}

.hero-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5vh;
    max-width: 45vw;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap:5vw;
    max-width: 50vw;
    margin-bottom: 50px;
}

.hero-buttons a {
    background-color: #2A2A2A;
    color: #ffffff;
    padding: 15px 110px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 1px 1px 4px black;
    transition: 0.3s ease;
}

.hero-buttons a:hover {
    background-color: #FFBF00;
}

.logo-icon img {
    width: 200px;
    border-radius: 50%;
}

/* Waves */
.hero-section::before {
    content: "";
    position: absolute;
    top: -4%;
    transform: scale(1.1, 0.6);
    height: 828px;
    width: 2436px;
    background: url('../images/hero.png') no-repeat center;
    z-index: -1;
    opacity: 0.8;
}

/* Download section */
.download-section {
    margin-top:5vh;
    height:95vh;
    width: 80vw;
    display: flex;
    gap: 10vw;
    margin-left: 10vw;
    align-items: center;
}

.download-right {
    text-align: center;
    width: 60%;
}

.download-section h1 {
    padding: 0 0 10vh;
    text-align: center;
}


.download-buttons{
    display: flex;
    justify-content: space-between;
}

.download-buttons a {
    margin-top: 4vh;
    display: flex;
    gap: 10px;
    color: #ffffff;
    background-color: #AD45EC;
    padding: 5px 10px 5px 20px;
    width: 335px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
}

.download-buttons a:first-of-type{
    background-color: #4997D0;
}

/* Waves */
.download-section::before {
    content: "";
    position: absolute;
    top: 93%;
    left: -5vw;
    transform: scale(0.7, 0.5);
    height: 828px;
    width: 2436px;
    background: url('../images/hero.png') no-repeat center;
    z-index: -1;
    opacity: 0.8;
}

/* Carousel section */
.carousel-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-section h2 {
    font-size: 4.25rem;
    margin-bottom: 2vh;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 50vh;
    width: 100vw;
    margin: 5vh auto 10vh;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5vh 2vw;
}

.carousel-column {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.carousel-left {
    padding-left: 6vw;
}

.carousel-right {
    padding-right: 6vw;
}

.carousel-left h3, .carousel-right h3 {
    font-size: 3rem;
    font-weight: 600;
}

.carousel-left p, .carousel-right p {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.carousel-left img, .carousel-right img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.carousel-item-1 {
    background: linear-gradient(90deg, #FFBF00, #E466A2);
}

.carousel-item-2 {
    background: linear-gradient(90deg, #E466A2, #AD45EC);
}

.carousel-item-3 {
    background: linear-gradient(90deg, #AD45EC, #4997D0);
}

.carousel-item-4 {
    background: linear-gradient(90deg, #4997D0, #88D8C0);
}

.carousel-item-5 {
    background: linear-gradient(90deg, #88D8C0, #FFBF00);
}

.carousel-control {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.carousel-control.left {
    left: 20px;
}

.carousel-control.right {
    right: 20px;
}

.separator {
    width: 1px;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-50%);
    top: 30%;
}

.carousel-item-1 .separator {
    left: 50%;
}

.carousel-item-2 .separator {
    left: 150%;
}

.carousel-item-3 .separator {
    left: 250%;
}

.carousel-item-4 .separator {
    left: 350%;
}

.carousel-mobile {
    display:none;
}

.mobile {
    display: none;
}

/* About us section*/
.about-us-section {
    display: flex;
    padding: 20vh 5vw;
    padding-left: 10vw;
    gap: 2vw;
}

.about-us-info {
    width: 43vw;
}

.about-us-info>div {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 2vh;
}

.about-us-info p {
    font-size: 1.2rem;
}

.about-us-info h2 {
    font-size: 4.25rem;
    margin-bottom: 4vh;
}

.about-us-icono {
    height: 60px;
}

.about-us-section>img {
    height: 600px;
    margin: 0 2vw;
}

.about-us-logo {
    display: none;
}

.team-mobile {
    display: none;
}

/* Contact us section */
.contact-us-section {
    margin:5vh 0;
    text-align: center;
    height: 60vh;
}

.contact-mobile {
    display: none;
}

.contact-us-section h2 {
    font-size: 4.25rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.contact-us-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 100px;
}

.contact-us-social img{
    margin: 15px;
}

.contact-us-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 300px;
}

.contact-us-column h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-row {
    display: flex;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    height: 100px;
}

.contact.raves img:first-child{
    height: 60px;
}

.contact.raves img:nth-child(2) {
    height: 27px;
}

.contact-us-separator {
    width: 2px;
    height: 30%;
    background-color: #000;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

@media (min-width: 1729px) {
    /* Download Section */
    /* Waves */
    .download-section::before {
        top: 93%;
        transform: translateX(6%) scale(0.8, 0.5);
    }
}

@media (max-width: 1550px) {
    /* Hero Section */
    .hero-buttons a {
        padding: 10px 70px;
    }

    /* Hero Section */
    .hero-section h1 {
        font-size: 3rem;
    }
    
    /* Download Section */
    /* Waves */
    .download-section::before {
        top: 92%;
        transform: translateX(-8%) scale(0.6, 0.5);
    }

    .download-left img {
        height: 450px;
    }

    .download-buttons a {
        font-size: 1rem;
        padding: 0;
        width: 270px;
    }

    /* About us Section */
    .about-us-section>img {
        height: 550px;
    }

    /* Contact us Section */
    .contact-us-section {
        height: 70vh;
    }
}

@media (max-width: 1350px) {
    /* General */
    h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.25rem;
    }

    /* Hero Section */
    .hero-buttons a {
        padding: 10px 40px;
    }

    /* Waves */
    .hero-section::before {
        top: -4%;
        transform: scale(0.8, 0.5);
    }

    /* Download Section */
    .download-buttons a {
        width: 270px;
    }
    
    /* Waves */
    .download-section::before {
        top: 92%;
        transform: translateX(-10%) scale(0.55, 0.4);
    }

    .download-buttons img {
        height: 40px;
    }

    .download-section p {
        font-size: 1rem;
    }

    /* About us Section */
    .about-us-section>img {
        height: 450px;
    }
    .about-us-section p {
        font-size: 1rem;
    }
    .about-us-section h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    /* Hero Section */
    .hero-section {
        height: 100vh;
    }

    .hero-section h1 {
        color: #ffffff;
        max-width: 80vw;
        padding: 10vh 0;
        font-size: 2.5rem;
    }

    .hero-section p {
        color: #ffffff;
        max-width: 70vw;
        font-size: 12px;
        text-align: center;
        margin: 2px;
    }

    .logo-mov {
        display: block;
        width: 311px;
    }

    .hero-section {
        justify-content: center;
    }

    .hero-buttons {
        display: none;
    }

    .logo-icon {
        display: none;
    }

    .hero-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .download-buttons {
        display: flex;
        flex-direction: column;
    }

    .download-buttons img {
        width: 25px;
        height: 25px;
    }

    .download-buttons a {
        background-color: #88D8C0;
        font-size: 1.25rem;
        width: 40vw;
        padding: 15px;
    }

    .download-buttons a:first-of-type{
        background-color: #AD45EC;
    }

    /* Waves */
    .hero-section::before {
        top: -4%; 
        transform:scale(0.7, 0.4);
    }

    /* Download Section */
    .download-section {
        display: none;
    }

    /* Carousel */
    .carousel {
        margin-bottom: 5vh;
    }

    .carousel-section h2 {
        color: #ffffff;
        font-size: 2.75rem;
        width: 80vw;
    }

    .carousel-web {
        display: none;
    }

    .carousel-mobile {
        display: flex;
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
    }

    .carousel-mobile>.carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-mobile>.carousel-item h3{
        font-size: 2rem;
    }
    
    .carousel-mobile>.carousel-item p{
        font-size: 14px;
        color: #FFFFFF;
        width: 70vw;
    }
        
    .carousel-mobile>.carousel-item img{
        width: 400px;
    }

    .carousel-control.left {
        left: 5px;
    }
    
    .carousel-control.right {
        right: 5px;
    }

    /* About us section*/
    .about-us-section {
        padding: 5vh 5vw;
    }

    .about-us-info {
        width: 88vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-section h2 {
        font-size: 2.75rem;
        color: #ffffff;
        margin-bottom: 7vh;
    }

    .about-us-section p {
        font-size: 0.75rem;
        color: #ffffff;
    }

    .about-us-section img {
        margin: 2vh;
    }

    .about-us-icono {
        display: none;
    }

    .about-us-logo {
        display: block;
    }

    .echo-logo {
        filter: invert(1);
        height: 75px;
    }

    .team-mobile {
        display: block;
    }

    .team-web {
        display: none;
    }

    /* Contact us Section */
    .contact-us-section {
        margin-bottom: 12vh;
        height: 60vh;
    }
    .contact-us-section h2 {
        color: #ffffff;
        font-size: 2.75rem;
        margin-bottom: 12vh;
    }

    .contact-us-social {
        display: none;
    }

    .contact-mobile {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 4vh;
    }

    .social-row {
        margin-bottom: 5vh;
    }

    .social-row img {
        filter: invert(1);
        height: 40px;
    }

    .contact-mobile>img:nth-last-of-type(1){
        filter: invert(1);
    }
}

@media (max-width: 650px) {
    /* Waves */
    .hero-section::before {
        top: -4%;
        transform: scale(0.3, 0.3);
    }

    /* Carousel Section */
    .carousel-mobile>.carousel-item img{
        height: 150px;
        width: 300px;
    }
}